.FinishedInquirer {
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 5px;
    color: #ffffff;
}

.FinishedInquirer p {
    font-style: italic;
    text-decoration: underline;
}

.FinishedInquirer ul li i {
    margin-left: 10px;
}

.error {
    color: #dc3545;
}

.success {
    color: #28a745;
}
