.Inquirer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding-top: 150px;
}
.Inquirer h1{
    color: #ffffff;
    text-transform: uppercase;
}