.Inquirer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}
.Inquirer h1{
    color: #ffffff;
    text-transform: uppercase;
}