.ActiveInquirer {
    width: 600px;
    color: #ffffff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
}

.Question{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 640px) {
    .ActiveInquirer {
        width: 90%;
    }
}
