.InquirerList{
    padding: 15px;
}

.InquirerList a{
    color: #fff;
    font-weight: 500;
    display: block;
}
.InquirerList li{
    transition: all 1s ease;
    background: rgba(255,255,255, .0);
    margin: 5px 0;
    border: 1px solid #fff;
    border-radius: 5px;
}

.InquirerList li:hover{
    background: #004FF9;
}
